.Wayfinder-container {
  width: 80%;
  margin: auto;
  font-family: 'Roboto Mono', monospace;
}

.Wayfinder-header {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 40px 10px 20px 0px;
  display: flex;
  justify-content: space-between;
}

.Wayfinder-header h1 {
  letter-spacing: -0.25px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
}

.Wayfinder-header a {
  text-decoration: none;
  color: #fff;
}

.Wayfinder-header .menu-nav {
  text-transform: uppercase;
}

.Wayfinder-header li {
  margin-right: 20px;
  display: inline-block;
}

.Wayfinder-header .nav-selected {
  padding-bottom: 10px;
  border-bottom: 4px solid #fff;
}

strong {
  font-weight: 700;
}

.Wayfinder-nav {
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 12px;
  padding-bottom: 10px;
  width: 400px;
  margin: auto;
}

.Wayfinder-nav div {
  padding: 8px;
  cursor: pointer;
}

.Wayfinder-nav-selected {
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 2%;
}

.Wayfinder-grid {
  display: grid;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  /*border-bottom: 1px solid rgba(255,255,255,0.2);*/
  width: 972px;
  margin: auto;
  
  grid-gap: 22px;
  column-gap: 22px;
  grid-row-gap: 22px;
  grid-template-columns: repeat(7, 120px [col-start]);
  grid-template-rows: repeat(6, 120px [col-start]);
}


.Wayfinder-grid svg {
  cursor: pointer;
}

.RoomName {
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 10px;
  cursor: pointer;
}

.RoomName h2 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.RoomName h4 {
  font-size: 10px;
  margin-top: 5px;
}

.RoomOccupancy {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.RoomOccupancy div {
  width: 4px;
  height: 4px;
  display: inline-block;
  margin: 2px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.RoomOccupancy .EntryOccupied {
  background-color: #fff;
}


@media only screen and (max-width: 1140px) {
  .Wayfinder-container {
    width: 90%;
    margin: auto;
  }

}


@media only screen and (max-width: 1040px) {
  .Wayfinder-container {
    width: 95%;
    margin: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .Wayfinder-grid {
    grid-template-columns: repeat(6, 120px [col-start]);
  }
}

@media only screen and (max-width: 850px) {
  .Wayfinder-grid {
    grid-template-columns: repeat(5, 120px [col-start]);
  }
}

@media only screen and (max-width: 700px) {
  .Wayfinder-grid {
    grid-template-columns: repeat(4, 120px [col-start]);
  }
}

@media only screen and (max-width: 550px) {
  .Wayfinder-grid {
    grid-template-columns: repeat(3, 120px [col-start]);
  }
}

@media only screen and (max-width: 400px) {
  .Wayfinder-grid {
    grid-template-columns: repeat(2, 120px [col-start]);
  }
}
